:root {
    --orange:#FF9F00;
    --yellow-orange:#FFAE42;
    --sherbert-orange:#F99E58;
    --dark-color:#ab5c13;
    --black: #444;
    --light-color: #777;
}

.navbar {
    background: var(--orange);
}

.navbar {
    text-align: center;
}

.navbar a {
    color: #fff;
    display: inline-block;
    font-size: 1.7rem;
    padding: 1.2rem;
}

.navbar a:hover {
    background: var(--dark-color);
}
