/* color reference
 https://www.color-name.com/orange-peel.color#:~:text=Orange%20Peel%20Color%20Palettes%201%20Complementary%20Palette%20The,4%20Triadic%20Palette%20...%205%20Tetradic%20Palette%20 */

/* This Is A Color Library */
:root {
    --orange:#FF9F00;
    --yellow-orange:#FFAE42;
    --sherbert-orange:#F99E58;
    --dark-color:#ab5c13;
    --black: #444;
    --light-color: #777;
}

.navbar {
    background: var(--orange);
    border: none;
}

.navbar {
    text-align: center;
}

.navbar a {
    color: #fff;
    display: inline-block;
    font-size: 1.7rem;
    padding: 1.2rem;
    text-decoration: none;
}

.navbar a:hover {
    background: var(--dark-color);
}

main{
    /* (Orange Peel (#FF9F00) 
    /Yellow-Orange(#FFAE42) 
    /Sherbert Orange (#F99E58))? */
    background-color:#FFCF80 ;
}
